# Created by .ignore support plugin (hsz.mobi)
### Laravel template
vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

### PHPstorm template

.idea/
## File-based project format:
*.iws
# mpeltonen/sbt-idea plugin
.idea_modules/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride